* ,*:before,*:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

body {
  word-break: break-all;
}


/*---------------------------
 全体
---------------------------*/
#wrapper {
  background-color: #F2F2F2;
}

.inner {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

/*---------------------------
 ヘッダー
---------------------------*/

#header {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 450px;
  background-size: auto 100%;
  background: url(../img/header/tolga-ahmetler-yvZ1kG511j4-unsplash.jpg) center center;
}

#header .titlelogo {
	font-size: 90px;
	color: #FFF;
	line-height: 1;
	letter-spacing: -2px;
}

#header .subtitlelogo {
	display: block;
	font-size: 40px;
	color: #FFF;
	text-align: center;
	margin-top: 30px;
}

/*---------------------------
 グローバルナビ
---------------------------*/

#gnav {
	padding: 10px;
	z-index: 100;
}

#gnav ul {
	display: -webkit-flex;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
    justify-content: center;
}

#gnav li:last-child {
	margin-right: 0;
}

#gnav li a{
	margin-left: 12px;
}
